.vscode
__pycache__
src/elliot

datasets/*
!datasets/readme.md

scripts/utils/jars/amie-init.jar

src/kale/.idea
src/kale/bin
src/kale/datasets
src/kale/output
src/kale/README.md
src/kale/readme.txt
src/kale/settings.txt
src/kale/.project
src/kale/.classpath
src/kale/.settings


src/kale/src/test

src/kale/src/kale/trip/Program.java
src/kale/src/kale/trip/KALETripModel.java

src/kale/src/kale/joint/KALEJointModel.java
src/kale/src/kale/joint/KALEProgram.java
src/kale/src/kale/joint/KALE.jar

src/kale/src/basic/dataProcess/ConvertDataForm.java
src/kale/src/basic/dataProcess/NewGroundAllRules.java
src/kale/src/basic/dataProcess/GroundAllRules.java

src/kale/src/basic/util/Arguments.java